.border-type {
  border: 5px outset aqua;
  margin: 1px;
}

.size-img{
  width: 11.5vw;
}

@media screen and (max-width: 1500px) {
  .size-img{
    width: 18.5vw;
  }
}
@media screen and (max-width: 1300px) {
  .size-img{
    width: 22vw;
  }
}

@media screen and (max-width: 850px) {
  .size-img{
    width: 28vw;
  }
}